html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  margin: 0;
  min-height: 100%;
}

@media only screen and (max-width: 800px) {
  body {
    grid-template-columns: 10px 1fr 10px;
  }
}

header {
  grid-row: 1 / 1;
  grid-column: 1 / span 3;
  /*background-color: blue;*/
}

section#main {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  /* background-color:red; */
}

footer {
  grid-row: 3;
  grid-column: 1 / span 3;
  /* background-color: green; */
}
